{% extends 'catalog/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Мystore</h1>
    <p class="lead">Мystore - отличный магазин</p>
</div>

<div class="container">
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
    </div>
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     src="/media/{{ object.image }}"
                     alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.name }}</h1>
                    <a href="{% url 'catalog:product_view' object.pk %}" type="button"
                       class="btn btn-outline-info">Посмотреть</a>
                    <a href="{% url 'catalog:update_product' object.pk %}" type="button"
                       class="btn btn-outline-success">Изменить</a>
                    <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
                       class="btn btn-outline-danger">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                МуStore
                <small class="d-block mb-3 text-muted"></small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Рассылки</a></li>
                    <li><a class="text-muted" href="#">Телеграм боты</a></li>
                    <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                    <li><a class="text-muted" href="#">Веб-приложения</a></li>
                    <li><a class="text-muted" href="#">Микросервисы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/blog/">О нас пишут отзывы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="/contact/">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    {% endblock %}