{% extends 'catalog/base.html' %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
       <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                         src="/media/{{ object.image }}"
                         alt="Card image cap">
                    <div class="card-header">
                        <h3 class="card-title">
                            {{ object.category }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Наименование</td>
                                <td>{{ object.name }}</td>
                            </tr>
                            <tr>
                                <td>Описание</td>
                                <td>{{ object.description }}</td>
                            </tr>
                            <tr>
                                <td>Цена за покупку</td>
                                <td>{{ object.purchase_price }}</td>
                            </tr>
                        </table>
                        <div class="card-footer">
                            Просмотры: {{ object.views_count }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h3 class='card-title'>
                            Возможность {{object.description}}
                        </h3>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for possib in possibilities%}
                            <li>{{ possib }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</main>
{% endblock %}